span~a {
    color: aqua;
}

li >span {
    background-color: green;
}

a:hover {
    color: greenyellow;
}
p::after{
    content: "<<";
    background-color: rosybrown !important;
}

::placeholder {
    color: red;
    font-size: 2em;
  }